In [1]:
print(2+3)
print(2.0/3)
x=4.5
print(int(x))

5
0.6666666666666666
4

In [2]:
x=['a','b','c']
print(x[1])
print(x[1:])
x[1]='d'
print(x)

b
['b', 'c']
['a', 'd', 'c']

In [3]:
d={'alice':1234, 'bob':5678, 'clare':9012}
print(d['bob'])
d['bob'] = 7777
print(d)
print(list(d.keys()))
print(list(d.values()))
del d['bob']
d['david'] = 5555
print(d)

5678
{'alice': 1234, 'bob': 7777, 'clare': 9012}
['alice', 'bob', 'clare']
[1234, 7777, 9012]
{'alice': 1234, 'clare': 9012, 'david': 5555}

In [4]:
x = 34 - 23            # A comment.
y = 'Hello'            # Another one.
z = 3.45    
if z == 3.45 or y == 'Hello':
    x = x + 1
    y = y + ' World'   # String concat.
print(x)
print(y)

12
Hello World

In [5]:
tu = (23, 'abc', 4.56, (2,3), 'def')
li = ["abc", 34, 4.34, 23]
st = 'Hello World'
# indexing
print(tu[0])
print(li[1])
print(st[3])
# slicing
print(st[3:7])

23
34
l
lo W

In [6]:
t = [1, 2, 4, 5]
print(3 in t)
print(4 in t)
print(4 not in t)

a = 'abcde'
print('cd' in a)
print('a' in a and 'c' in a)

False
True
False
True
True

In [7]:
li = [1, 11, 3, 4, 5]
li.append('a')
print(li)
li.insert(2, 'i')
print(li)
li.extend([9, 8, 7])
print(li)

[1, 11, 3, 4, 5, 'a']
[1, 11, 'i', 3, 4, 5, 'a']
[1, 11, 'i', 3, 4, 5, 'a', 9, 8, 7]

In [8]:
li = ['a', 'b', 'c', 'b']
print(li.index('b'))
print(li.count('b'))
li.remove('b')
print(li)
li = [5, 2, 6, 8]
li.reverse()
print(li)
li.sort()
print(li)

1
2
['a', 'c', 'b']
[8, 6, 2, 5]
[2, 5, 6, 8]

In [9]:
x = 2

if x == 3:
    print("X equals 3.")
elif x == 2:
    print("X equals 2.")
else:
    print("X equals something else.")
print("This is outside the ‘if’.")

X equals 2.
This is outside the ‘if’.

In [10]:
x = 3
while x < 5:
    print(x, "still in the loop")
    x = x + 1
x = 6
while x < 5:
    print(x, "still in the loop")

3 still in the loop
4 still in the loop

In [11]:
for someChar in "Hello World":
    print(someChar.upper())

for (x, y) in [('a',1), ('b',2), ('c',3), ('d',4)]:
    print(y)

H
E
L
L
O

W
O
R
L
D
1
2
3
4

In [12]:
ages = { "Sam" :4, "Mary" :3, "Bill" :2 }

for name in ages.keys():
    print(name, ages[name])

Sam 4
Mary 3
Bill 2

In [13]:
import random

li = [5, 2, 6, 8]
random.shuffle(li)
print(li)

[8, 5, 2, 6]

In [14]:
class student:
    """A class representing a student."""
    def __init__(self,n,a):
        self.full_name = n
        self.age = a
    def get_age(self):
        return self.age
    def set_age(self,num):
        self.age = num

b = student("Bob", 21)
print('initial age', b.get_age())

b.set_age(18)
print('new age', b.get_age())

print(b.full_name, b.age)

initial age 21
new age 18
Bob 18

In [15]:
fileptr = open('hw.txt')
somestring = fileptr.read()   #reads in entire file
print(somestring)
fileptr.close()

fileptr = open('hw.txt')
for line in fileptr:         #loops over file one line at a time
    print(line)
fileptr.close()

hello world
this is a text file
with some data
that's all

hello world

this is a text file

with some data

that's all

In [16]:
import csv  #csv file reader

f = open('hw.txt', 'rt')  #r=read, t=text mode (default)
reader = csv.reader(f,delimiter=' ')
for row in reader:
    print(len(row), row[0])                  
f.close()

2 hello
5 this
3 with
2 that's

In [17]:
import pandas as pd

data = pd.read_csv('oscar_age_female.csv',sep=',')
print(len(data))

89

In [18]:
data

,Index,Year,Age,Name,Movie
0,1,1928,22,Janet Gaynor,"Seventh Heaven,Street Angel and Sunrise: A Son..."
1,2,1929,37,Mary Pickford,Coquette
2,3,1930,28,Norma Shearer,The Divorcee
3,4,1931,63,Marie Dressler,Min and Bill
4,5,1932,32,Helen Hayes,The Sin of Madelon Claudet
5,6,1933,26,Katharine Hepburn,Morning Glory
6,7,1934,31,Claudette Colbert,It Happened One Night
7,8,1935,27,Bette Davis,Dangerous
8,9,1936,27,Luise Rainer,The Great Ziegfeld
9,10,1937,28,Luise Rainer,The Good Earth
10,11,1938,30,Bette Davis,Jezebel
11,12,1939,26,Vivien Leigh,Gone with the Wind
12,13,1940,29,Ginger Rogers,Kitty Foyle
13,14,1941,24,Joan Fontaine,Suspicion
14,15,1942,38,Greer Garson,Mrs. Miniver
15,16,1943,25,Jennifer Jones,The Song of Bernadette
16,17,1944,29,Ingrid Bergman,Gaslight
17,18,1945,40,Joan Crawford,Mildred Pierce
18,19,1946,30,Olivia de Havilland,To Each His Own
19,20,1947,35,Loretta Young,The Farmer's Daughter
20,21,1948,32,Jane Wyman,Johnny Belinda
21,22,1949,33,Olivia de Havilland,The Heiress
22,23,1950,29,Judy Holliday,Born Yesterday
23,24,1951,38,Vivien Leigh,A Streetcar Named Desire
24,25,1952,54,Shirley Booth,"Come Back,Little Sheba"
25,26,1953,24,Audrey Hepburn,Roman Holiday
26,27,1954,25,Grace Kelly,The Country Girl
27,28,1955,48,Anna Magnani,The Rose Tattoo
28,29,1956,41,Ingrid Bergman,Anastasia
29,30,1957,28,Joanne Woodward,The Three Faces of Eve
...,...,...,...,...,...
59,60,1987,21,Marlee Matlin,Children of a Lesser God
60,61,1988,41,Cher,Moonstruck
61,62,1989,26,Jodie Foster,The Accused
62,63,1990,80,Jessica Tandy,Driving Miss Daisy
63,64,1991,42,Kathy Bates,Misery
64,65,1992,29,Jodie Foster,The Silence of the Lambs
65,66,1993,33,Emma Thompson,Howards End
66,67,1994,36,Holly Hunter,The Piano
67,68,1995,45,Jessica Lange,Blue Sky
68,69,1996,49,Susan Sarandon,Dead Man Walking
69,70,1997,39,Frances McDormand,Fargo
70,71,1998,34,Helen Hunt,As Good as It Gets
71,72,1999,26,Gwyneth Paltrow,Shakespeare in Love
72,73,2000,25,Hilary Swank,Boys Don't Cry
73,74,2001,33,Julia Roberts,Erin Brockovich
74,75,2002,35,Halle Berry,Monster's Ball
75,76,2003,35,Nicole Kidman,The Hours
76,77,2004,28,Charlize Theron,Monster
77,78,2005,30,Hilary Swank,Million Dollar Baby
78,79,2006,29,Reese Witherspoon,Walk the Line
79,80,2007,61,Helen Mirren,The Queen
80,81,2008,32,Marion Cotillard,La Vie en rose
81,82,2009,33,Kate Winslet,The Reader
82,83,2010,45,Sandra Bullock,The Blind Side
83,84,2011,29,Natalie Portman,Black Swan
84,85,2012,62,Meryl Streep,The Iron Lady
85,86,2013,22,Jennifer Lawrence,Silver Linings Playbook
86,87,2014,44,Cate Blanchett,Blue Jasmine
87,88,2015,54,Julianne Moore,Still Alice
88,89,2016,26,Brie Larson,Room

In [19]:
data.describe()

           Index         Year        Age
count  89.000000    89.000000  89.000000
mean   45.000000  1972.000000  36.123596
std    25.836021    25.836021  11.745231
min     1.000000  1928.000000  21.000000
25%    23.000000  1950.000000  28.000000
50%    45.000000  1972.000000  33.000000
75%    67.000000  1994.000000  41.000000
max    89.000000  2016.000000  80.000000